<div class="page-header">
  <h1>Courses</h1>
</div>

<div class="row">

  <button class="btn btn-info" (click)="add()">Add a course</button>
  <a [routerLink]="['/students']">Click here to see all students </a>

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Course code</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td [innerHtml]="course.code"></td>
          <td [innerHtml]="course.name"></td>
          <td [innerHtml]="course.description"></td>


          <td>
            <button class="btn btn-info" (click)="details()">Details</button>
            <button class="btn btn-warning" (click)="edit()">Edit</button>
            <button class="btn btn-danger">Delete</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
