<div class="page-header">
  <h1>{{ course.code ? 'Edit' : 'Add' }} Course</h1>
</div>

<div class="row">

  <div class="col-md-12">

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" placeholder="Enter name" [(ngModel)]="course.name" id="name" name="name" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="lastName">Description</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" placeholder="Enter description" [(ngModel)]="course.description" id="description" name="description" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button *ngIf="!course.code" class="btn btn-info" (click)="add()">Add</button>
          <button *ngIf="course.code" class="btn btn-warning" (click)="update()">Update</button>
          <button class="btn btn-info" (click)="back()">Back</button>
        </div>
      </div>

    </form>

  </div>
</div>
