<div class="page-header">
  <h1>Marks for {{student ? student.firstName + ' ' + student.lastName : ''}}</h1>
</div>

<div class="row">
  <button class="btn btn-info" (click)="add()">Add a mark</button>
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Course code</th>
          <th>Course name</th>
          <th>Mark</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mark of marks">
          <td [innerHtml]="mark.courseCode"></td>
          <td [innerHtml]="mark.courseName"></td>
          <td [innerHtml]="mark.markValue"></td>

          <td>
            <button class="btn btn-warning" (click)="edit(mark)">Edit</button>
            <button class="btn btn-danger" (click)="delete(mark)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
